<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Decription:</strong>
  <%= @project.decription %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @project.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @project.end_at %>
</p>

<p>
  <strong>Initial end at:</strong>
  <%= @project.initial_end_at %>
</p>

<p>
  <strong>Advancement:</strong>
  <%= @project.advancement %>
</p>

<p>
  <strong>Is important:</strong>
  <%= @project.is_important %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @project.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @project.updated_by %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
